body {
  display: block;
  overflow-x: hidden;
  background-image: url(../Images/Programmer-Background-Image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(33, 37, 42);
  height: 100%;
}

@media only screen and (max-width: 600px) {}

nav {
  background-color: aliceblue;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
}

.Background {
  height: 100%;
  width: 100%;
}

section {
  margin-top: 2%;
  margin-left: 20px;
}

#ClipartKey_966685 {
  height: 20%;
  padding-left: 30%;
}

.row {
  justify-content: space-around;
}

div.container1 {
  height: 50%;
  padding: 50px;
}

#card1 {
  border: oldlace;
  outline: oldlace;
  height: 200px;
  color: white;
  background-color: black;
}

#card2 {
  height: 170px;
  margin: auto;
  position: relative;
  left: 31%;
  color: white;
  background-color: black;
}

#card3 {
  border: oldlace;
  outline: oldlace;
  height: 148px;
  color: white;
  background-color: black;
}

.card-body1 {
  margin: auto;
  position: relative;
  left: 2%;
  padding: 20px;
}

.card-body2 {
  margin: auto;
  position: relative;
  left: 7%;
  padding: 30px;
}

.card-body3 {
  margin: auto;
  position: relative;
  left: 2%;
  padding: 40px;
  bottom: 10%;
}