body {
  display: block;
  overflow-x: hidden;
  background-color: rgb(33, 37, 42);
  background-image: url(../Images/Programmer-Background-Image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

nav {
  background-color: aliceblue;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
}

.Background {
  height: 100%;
  width: 100%;
}

#folder {
  margin-top: 5%;
  margin-left: 10%;
}

.card {
  margin-top: 15px;
  margin-left: 15px;
  background-color: rgb(33, 37, 42);
  color: white;
  border-color: ivory;
}

#project1 {
  margin-left: 10%;
  margin-top: 10%;
}

#project2 {
  margin-left: 10%;
  margin-top: 10%;
}

#project3 {
  margin-left: 10%;
  margin-top: 10%;
}

#portfolio {
  align-items: left;
  margin: auto;
  position: relative;
}

#portfolio2 {
  align-items: right;
  position: relative;
  left: 63%;
}

#portfolio3 {
  align-items: left;
  position: relative;
}